.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    // top: 55%;
    // right: 15%;
    bottom: 0;
    left: 10%;
    margin: auto;
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }
    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        // opacity: 0;
        z-index: 1;
        // animation: 3s infinite alternate sl;
        filter: drop-shadow(0px 20px 4px #4444dd);
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}

@media screen and (max-width: 1200px) {
    .logo-container {
        width: 300px;
        height: 309px;
        z-index: -99;
        .solid-logo {
            position: absolute;
            top: 20em;
        }
    }
}

@media screen and (max-width: 390px) {
    .logo-container {
        width: 220px;
        height: 309px;
        .solid-logo {
            position: absolute;
            top: 20em;
        }
    }
}

// @keyframes sl {
//     from {
//         margin-left: 10px;
//         width: 80%;
//     }
//     to {
//         margin-left: 0%;
//         width: 100%;
//         // transform: rotateY(0 deg);
//     }
// }