.nav-bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    .logo {
        display: block;
        padding: 8px 0;
        img {
            display: block;
            margin: 8px auto;
            width: 44px;
            height: auto;
            &.sub-logo {
                width: 50px;
            }
        }
    }
    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
        a {
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            i {
                transition: all 0.3s ease-out;
            }
            &:hover {
                color: #ffd700;
                svg {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
            &:after {
                content: '';
                font-size: 7px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
            &:first-child {
                &:after {
                    content: 'HOME';
                }
            }
        }
        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }
        a.education-link {
            &:after {
                content: 'EDUCATION';
            }
        }
        a.Skill-link {
            &:after {
                content: 'SKILLS';
            }
        }
        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }
        a.portfolio-link {
            &:after {
                content: 'PORTFOLIO';
            }
        }
        a.active {
            svg {
                color: #ffd700;
            }
        }
    }
    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;
                color: #4d4d4e;
            }
            &:hover {
                .anchor-icon {
                    color: #ffd700;
                }
            }
        }
    }
}

.hamburger-icon,
.hide,
.close-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0;
        .logo {
            float: left;
            padding: 0;
            margin-right: 20px;
            &>img:first-child {
                height: 30px;
            }
            img.sub-logo {
                width: 50px;
                margin-left: 7px;
            }
        }
        nav {
            width: 53%;
            position: absolute;
            left: 50%;
            margin-left: -19%;
            float: left;
            overflow: hidden;
            text-align: center;
            height: 60px;
            top: 0;
            margin-top: 0;
            a {
                float: left;
                margin-left: 5%;
                height: 60px;
                &:first-child {
                    margin-left: 0;
                }
            }
            a:after {
                line-height: 15px;
                opacity: 1;
                position: initial;
                line-height: 0;
            }
            a svg {
                opacity: 1 !important;
            }
        }
        ul {
            position: static;
            bottom: 20px;
            width: auto;
            height: 60px;
            line-height: 60px;
            display: block;
            padding: 0;
            list-style: none;
            text-align: center;
            margin: 0;
            float: right;
            li {
                float: right;
                height: 60px;
                margin: 20px 10px 0 10px;
                align-items: center;
            }
        }
        // .hamburger-icon,
        // .close-icon {
        //     position: absolute;
        //     top: 15px;
        //     right: 15px;
        //     display: block;
        // }
    }
}

@media screen and (max-width: 740px) {
    .nav-bar {
        position: fixed;
        transition: 0.3s ease-in-out;
        nav {
            width: 100%;
            position: fixed;
            left: 100%;
            opacity: 0;
            margin-left: 0;
            float: left;
            overflow: hidden;
            text-align: center;
            height: 60px;
            top: 60px;
            margin-top: 0;
            background: #181818;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
            &.mobile-show {
                left: 0;
                opacity: 1;
                padding: 5px 0;
            }
            &.mobile-show:active+.hamburger-icon {
                display: none;
            }
            a {
                float: left;
                margin-left: 0 !important;
                line-height: 60px;
                height: 60px;
                width: 16.5%;
            }
        }
        ul {
            display: none;
            &.mobile-show {
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
                display: block;
                margin: 0px 60px 0 0;
            }
        }
        // .hamburger-icon {
        //     position: absolute;
        //     top: 15px;
        //     right: 15px;
        //     z-index: 3;
        //     display: block;
        // }
        // .close-icon {
        //     position: absolute;
        //     z-index: 99;
        //     top: 15px;
        //     right: 15px;
        //     display: block;
        // }
        .hide,
        .close-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
        }
        svg.hamburger-icon,
        .close-icon {
            display: none;
        }
    }
}